# Reading and Writing from excel

In [23]:
import pandas as pd
#Writing a function which converts na values people column
def convert_people_cell(cell): 
    if cell == 'n.a.':
        return 'Sam Walton'
    return cell
def convert_eps(cell):
    if cell == 'Not Available':
        return None
    return cell
        
def gen_converter(cell):
    if cell == 'n.a.':
        return None
    elif cell == 'Not Available':
        return None
    elif cell == -1:
        return None
    return cell
    
df = pd.read_excel("Stock_data.xlsx", converters = {
    'people' : convert_people_cell,
    'eps' : convert_eps,
    'price' : gen_converter,
    'revenue' : gen_converter
})

df

  tickers    eps  revenue   price         people
0   GOOGL  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0     Sam Walton
2    MSFT  -1.00     85.0    64.0     bill gates
3     RIL    NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

In [32]:
df.to_excel("new.xlsx", sheet_name = "Stocks", startrow=1, startcol=2, index=False)

In [39]:
#Writing two data frames to the same excel files
df_stocks = pd.DataFrame({
    'tickers' : ['GOOGL', 'MSFT', 'WMT'],
    'eps' : [23.6, 16.3, 28.5],
    'price' : [847, 735, 345],
    'pe' : [3, 6.7, 6.9]
})
df_weather = pd.DataFrame({
    'Day' : ['1/2/2020', '3/2/2020', '5/2/2020'],
    'Temperature' : [45, 23, 22],
    'event' : ['sunny', 'foggy', 'snow']
})

with pd.ExcelWriter("Stock-Weather.xlsx") as Writer:
    df_stocks.to_excel(Writer, sheet_name="stocks", index=False)
    df_weather.to_excel(Writer, sheet_name="weather", index=False)