# Creating a dataframe using pandas

In [19]:
import pandas as pd
df = pd.read_csv("weatherdata.csv")
#df = pd.read_exel('weather_data.xlsx')
df

        day  temperature  wind speed  event
0  1/1/2020           32           6   rain
1  1/2/2020           35           7  sunny
2  1/3/2020           26           5   snow
3  1/4/2020           28           4   rain
4  1/5/2020           32           7   snow
5  1/6/2020           33           3   snow

In [24]:
rows, columns = df.shape
rows
columns

4

In [15]:
#create dataframe using a dictionary
weather_data = {
    'day' : ['1/1/2020', '1/2/2020', '1/3/2020'],
    'temperature' : [32, 35, 26],
    'windspeed' : [6, 5, 3],
    'event' : ['rain', 'sunny', 'snow']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2020           32          6   rain
1  1/2/2020           35          5  sunny
2  1/3/2020           26          3   snow

In [17]:
#create dataframe using list of tuples
weather_data_2 = [
    ('1-1-2020', 32, 7, 'rain'),
    ('2-1-2020', 34, 6, 'sunny'),
    ('3-1-2020', 32, 4, 'cloudy')
]
df = pd.DataFrame(weather_data_2, columns = ['day', 'temprature', 'windspeed', 'event'])
df

        day  temprature  windspeed   event
0  1-1-2020          32          7    rain
1  2-1-2020          34          6   sunny
2  3-1-2020          32          4  cloudy

In [18]:
#create dataframe using list of dictionaries
weather_data_3 = [
    {'day':'1/2/2020', 'temp' : 32, 'wind_speed' : 6, 'event': 'Rain' },
    {'day':'2/2/2020', 'temp' : 36, 'wind_speed' : 8, 'event': 'sunny' },
    {'day':'3/2/2020', 'temp' : 25, 'wind_speed' : 7, 'event': 'snow' }
]
df = pd.DataFrame(weather_data_3)
df

        day  temp  wind_speed  event
0  1/2/2020    32           6   Rain
1  2/2/2020    36           8  sunny
2  3/2/2020    25           7   snow

In [25]:
rows, columns = df.shape
rows

6

In [26]:
df.head(2)

        day  temperature  wind speed  event
0  1/1/2020           32           6   rain
1  1/2/2020           35           7  sunny

In [27]:
df.tail(2)

        day  temperature  wind speed event
4  1/5/2020           32           7  snow
5  1/6/2020           33           3  snow

In [28]:
df.columns

Index(['day', 'temperature', 'wind speed', 'event'], dtype='object')

In [32]:
df.day

0    1/1/2020
1    1/2/2020
2    1/3/2020
3    1/4/2020
4    1/5/2020
5    1/6/2020
Name: day, dtype: object

In [33]:
df

        day  temperature  wind speed  event
0  1/1/2020           32           6   rain
1  1/2/2020           35           7  sunny
2  1/3/2020           26           5   snow
3  1/4/2020           28           4   rain
4  1/5/2020           32           7   snow
5  1/6/2020           33           3   snow

In [34]:
df[2:5]

        day  temperature  wind speed event
2  1/3/2020           26           5  snow
3  1/4/2020           28           4  rain
4  1/5/2020           32           7  snow

In [36]:
df['event']
#df.event

0     rain
1    sunny
2     snow
3     rain
4     snow
5     snow
Name: event, dtype: object

In [37]:
type(df.event)

pandas.core.series.Series

In [44]:
df[['event', 'day']]

   event       day
0   rain  1/1/2020
1  sunny  1/2/2020
2   snow  1/3/2020
3   rain  1/4/2020
4   snow  1/5/2020
5   snow  1/6/2020

In [46]:
df['temperature'].max() #.min(), .mean(), std(), .sum()

35

In [50]:
df.describe()

       temperature  wind speed
count      6.00000    6.000000
mean      31.00000    5.333333
std        3.34664    1.632993
min       26.00000    3.000000
25%       29.00000    4.250000
50%       32.00000    5.500000
75%       32.75000    6.750000
max       35.00000    7.000000

# Conditional selection of data

In [51]:
df

        day  temperature  wind speed  event
0  1/1/2020           32           6   rain
1  1/2/2020           35           7  sunny
2  1/3/2020           26           5   snow
3  1/4/2020           28           4   rain
4  1/5/2020           32           7   snow
5  1/6/2020           33           3   snow

In [53]:
df[df.temperature == df.temperature.max()]

        day  temperature  wind speed  event
1  1/2/2020           35           7  sunny

In [54]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [92]:
df

            day  temperature  wind speed
event
rain   1/1/2020           32           6
sunny  1/2/2020           35           7
snow   1/3/2020           26           5
rain   1/4/2020           28           4
snow   1/5/2020           32           7
snow   1/6/2020           33           3

In [93]:
df = pd.read_csv("weatherdata.csv")
df

        day  temperature  wind speed  event
0  1/1/2020           32           6   rain
1  1/2/2020           35           7  sunny
2  1/3/2020           26           5   snow
3  1/4/2020           28           4   rain
4  1/5/2020           32           7   snow
5  1/6/2020           33           3   snow

In [94]:
df[df.temperature > 32]

        day  temperature  wind speed  event
1  1/2/2020           35           7  sunny
5  1/6/2020           33           3   snow

In [95]:
df[['day', 'temperature']][df.temperature == df['temperature'].max()]

        day  temperature
1  1/2/2020           35

In [104]:
df.loc['snow']

       temperature  wind speed
event
snow            26           5
snow            32           7
snow            33           3

In [105]:
df.loc['sunny']

temperature    35
wind speed      7
Name: sunny, dtype: int64