# Creating a dataframe using pandas

In [19]:
import pandas as pd
df = pd.read_csv("weatherdata.csv")
#df = pd.read_exel('weather_data.xlsx')
df

        day  temperature  wind speed  event
0  1/1/2020           32           6   rain
1  1/2/2020           35           7  sunny
2  1/3/2020           26           5   snow
3  1/4/2020           28           4   rain
4  1/5/2020           32           7   snow
5  1/6/2020           33           3   snow

In [15]:
#create dataframe using a dictionary
weather_data = {
    'day' : ['1/1/2020', '1/2/2020', '1/3/2020'],
    'temperature' : [32, 35, 26],
    'windspeed' : [6, 5, 3],
    'event' : ['rain', 'sunny', 'snow']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2020           32          6   rain
1  1/2/2020           35          5  sunny
2  1/3/2020           26          3   snow

In [17]:
#create dataframe using list of tuples
weather_data_2 = [
    ('1-1-2020', 32, 7, 'rain'),
    ('2-1-2020', 34, 6, 'sunny'),
    ('3-1-2020', 32, 4, 'cloudy')
]
df = pd.DataFrame(weather_data_2, columns = ['day', 'temprature', 'windspeed', 'event'])
df

        day  temprature  windspeed   event
0  1-1-2020          32          7    rain
1  2-1-2020          34          6   sunny
2  3-1-2020          32          4  cloudy

In [18]:
#create dataframe using list of dictionaries
weather_data_3 = [
    {'day':'1/2/2020', 'temp' : 32, 'wind_speed' : 6, 'event': 'Rain' },
    {'day':'2/2/2020', 'temp' : 36, 'wind_speed' : 8, 'event': 'sunny' },
    {'day':'3/2/2020', 'temp' : 25, 'wind_speed' : 7, 'event': 'snow' }
]
df = pd.DataFrame(weather_data_3)
df

        day  temp  wind_speed  event
0  1/2/2020    32           6   Rain
1  2/2/2020    36           8  sunny
2  3/2/2020    25           7   snow